<!DOCTYPE html>
<html>
<head>
<title>Bem vindo!</title>
<meta charset="utf-8"/>
</head>
<body>
	<h1>SBSEG 2021</h1>
	<h3>Raphaela Goulart</h3>
	<p>Projeto de estrutura de um servidor web implementando normas e 
	protocolos de segurança segundo o projeto Open Standards Everywhere</p>

	<p>Dúvidas podem ser enviadas para
	<a>raphaela.sgoulart@gmail.com</a>.<br/>

	<p><em>Obrigada pela visita</em></p>

	<!-- IPv6-test.com button BEGIN -->
	<a href='https://ipv6-test.com/validate.php?url=referer'><img src='image/button-ipv6-big.png' alt='ipv6 ready' title='ipv6 ready' border='0' /></a>
	<!-- IPv6-test.com button END -->
</body>
</html>
